@model  sgop.Models.ViewModels.EditarProyectoViewModel
@{
    ViewBag.Title = "Modificar_Proyecto";
}



<form action="ModificarProyecto" method="POST" enctype="multipart/form-data">
    <div class="container-fluid w-75 p-0" style="margin-top: 5%">
        @{
            @Html.AntiForgeryToken()

            @Html.HiddenFor(d => d.idLicitacion)
            @Html.HiddenFor(d => d.idProyecto)
            <!--Inicia el container del card-->
            <div class="col-12">
                <div class="card border border-0 p-0 h-100">
                    <!--Inicia el card-->
                    <!---------------------------------------------------------------------------------------------------------------->
                    <div class="card-header bg-dark">
                        <!--Inicia la cabecera del card-->
                        <h3 class="text-muted text-right">
                            Actualización de datos de proyecto.
                        </h3>
                    </div><!--Termina la cabecera del card-->
                    <!---------------------------------------------------------------------------------------------------------------->
                    <div class="card-body">
                        <!--Inician los renglones por registro encontrado, 2 renglones por cada uno-->
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5 class="text-muted">@Model.nombreObra</h5>
                                <!--Tabla proyectos inner join licitaciones -> campo nombreObra-->
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------------------------------------->
                        <div class="row">
                            <div class="col-6 px-3">
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="noLicitacion">Numero de Licitacion:</label>
                                    </div>
                                    <div class="col-9 p-1">
                                        @Html.TextBoxFor(d => d.noLicitacion, new { @class = "form-control form-control-sm form-control-plaintext", @readonly = "true" })
                                        <!--Tabla proyectos inner join licitaciones -> campo noLicitacion-->
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="municipio">Municipio:</label>
                                    </div>
                                    <div class="col-9 p-1">
                                        @Html.TextBoxFor(d => d.Municipio, new { @class = "form-control form-control-sm form-control-plaintext", @readonly = "true" })
                                        <!--Tabla proyectos inner join licitaciones inner join catalogoMunicipios-> campo descripcion-->
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="localidad">Localidad:</label>
                                    </div>
                                    <div class="col-9 p-1">
                                        @Html.TextBoxFor(d => d.localidad, new { @class = "form-control form-control-sm form-control-plaintext", @readonly = "true" })
                                        <!--Tabla proyectos inner join licitaciones -> campo localidad-->
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="propuesta">Propuesta:</label>
                                    </div>
                                    <div class="col-9 p-1">
                                        @Html.TextBoxFor(d => d.TotalRequisicion, new { @class = "form-control form-control-sm form-control-plaintext", @readonly = "true" })

                                        <!--Tabla proyectos inner join licitaciones inner join requisicion-> sumar el valor de todos los conceptos-->
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="idRequisicion">No. de Requisicion:</label>
                                    </div>
                                    <div class="col-3 p-1">
                                        @Html.TextBoxFor(d => d.idRequisicion, new { @class = "form-control form-control-sm form-control-plaintext text-center", @readonly = "true" })

                                        <!--Tabla proyectos inner join licitaciones -> campo idRequisicion-->
                                    </div>
                                    <div class="col-3 p-1 text-center">
                                        <label for="avance">Avance:</label>
                                    </div>
                                    <div class="col-3 p-1">
                                        <input type="text" class="form-control form-control-sm form-control-plaintext" id="avance" value="15%" disabled>
                                        <!--Porcentaje de estimaciones respecto a lo requerido-->
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="estatus">Estatus:</label>
                                    </div>
                                    <div class="col-9 p-1">
                                        @Html.DropDownListFor(x => x.Status, (List<SelectListItem>)ViewBag.opciones, null, new { @class = "custom-select custom-select-sm" })

                                        <!--Se llena con base en una consulta a la tabla de catalogoEstatus-->
                                        <!--Tabla proyectos -> campo idEstatus-->
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-3 p-1">
                                        <label for="empresa">Empresa:</label>
                                    </div>
                                    <div class="col-9 p-1">
                                        @Html.TextBoxFor(d => d.Empresa, new { @class = "form-control form-control-sm form-control-plaintext", @readonly = "true" })
                                        <!--Tabla proyectos inner join licitaciones inner join catalogoEmpresa-> campo descripcion-->
                                    </div>
                                </div>
                            </div>
                            <!---------------------------------------------------------------------------------------------------------------->
                            <div class="col-6 px-3">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                        <label for="fechaVisita">Fecha contrato:</label>
                                    </div>
                                    <div class="col-7">
                                        @Html.TextBoxFor(d => d.fechaContrato, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm form-control-plaintext", type = "date", @required = true })

                                        <!--Tabla proyectos -> campo fechaContrato-->
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <label for="fechaVisita">Inicio contrato:</label>
                                    </div>
                                    <div class="col-5">
                                        <label for="fechaVisita">Final contrato:</label>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        @Html.TextBoxFor(d => d.fechaInicioContrato, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm form-control-plaintext", type = "date", @required = true })

                                        <!--Tabla proyectos -> campo fechaInicioContrato-->
                                    </div>
                                    <div class="col-5">
                                        @Html.TextBoxFor(d => d.fechaFinalContrato, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm form-control-plaintext", type = "date", @required = true })

                                        <!--Tabla proyectos -> campo fechaFinalContrato-->
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row pt-3">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        <label for="fechaVisita">Inicio real:</label>
                                    </div>
                                    <div class="col-5">
                                        <label for="fechaVisita">Final real:</label>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5">
                                        @Html.TextBoxFor(d => d.fechaInicioReal, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm form-control-plaintext", type = "date", @required = true })

                                        <!--Tabla proyectos -> campo fechaInicioReal-->
                                    </div>
                                    <div class="col-5">
                                        @Html.TextBoxFor(d => d.fechaFinalReal, "{0:yyyy-MM-dd}", new { @class = "form-control form-control-sm form-control-plaintext", type = "date", @required = true })

                                        <!--Tabla proyectos -> campo fechaFinalReal-->
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row pt-3">
                                    <div class="col-1"></div>
                                    <div class="col-5 small">
                                        <div class="custom-control custom-checkbox">

                                            @Html.CheckBox("PolizaAnticipoCheck2", Model.polizaAnticipo, new { @class = "custom-control-input", @disabled = true })
                                            <label class="custom-control-label" for="PolizaAnticipoCheck">Poliza Anticipo</label>
                                            <!--Tabla proyectos -> campo polizaAnticipo que no sea NULL-->
                                        </div>
                                    </div>
                                    <div class="col-3 text-center">
                                        <label for="avance">Req. Parcial:</label>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(d => d.reqParcial, new { @class = "form-control form-control-sm form-control-plaintext text-center", @readonly = "true" })

                                        <!--Tabla requisicionParcial buscar por idRequisicion, campo noRequisicion ordenado de mayor a menor el primer registro-->
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5 small">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBox("PolizaViciosCheck2", Model.polizaVicios, new { @class = "custom-control-input text-center", @disabled = true })
                                            <label class="custom-control-label" for="PolizaViciosCheck">Poliza Vicios</label>

                                            <!--Tabla proyectos -> campo polizaVicios que no sea NULL-->
                                        </div>
                                    </div>
                                    <div class="col-3 text-center">
                                        <label for="avance">Estimacion:</label>
                                    </div>
                                    <div class="col-2">
                                        @Html.TextBoxFor(d => d.noEstimacion, new { @class = "form-control form-control-sm form-control-plaintext text-center", @readonly = "true" })

                                        <!--Tabla estimaciones buscar por idRequisicion, campo noEstimacion ordenado de mayor a menor el primer registro-->
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-5 small">
                                        <div class="custom-control custom-checkbox">
                                            @Html.CheckBox("PolizaCumplimientoCheck2", Model.polizaCumplimiento, new { @class = "custom-control-input", @disabled = true })
                                            <label class="custom-control-label" for="PolizaCumplimientoCheck">Poliza Cumplimiento</label>

                                            <!--Tabla licitaciones -> campo polizaCumplimiento que no sea NULL-->
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <button type="button" id="btnEstimacion" name="btnAuxiliares" class="btn btn-outline-success btn-block btn-sm">Estimaciones<span class="fas fa-money-check mx-1"></span></button>
                                        <!--Manda el idLicitacion y muestra el formulario para edicion de estimaciones-->
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------------------->
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------------------------------------->
                        <div class="row">
                            <div class="col-3 mt-5 mb-3">

                                <button type="button" onclick="window.location.href = '/Constructora/MenuProyectos';" class="btn btn-outline-danger btn-block btn-sm">Atras<span class="fas fa-arrow-left mx-1"></span></button>
                            </div>
                            <div class="col-3 mt-5 mb-3">
                                <button type="submit" class="btn btn-outline-success btn-block btn-sm">Guardar<span class="far fa-save mx-1"></span></button>
                                <!--Solo aparece en la vista de editar o crer, guarda los datos en la base de datos-->
                            </div>
                            <div class="col-3 mt-5 mb-3">
                                <button type="button" class="btn btn-outline-warning btn-block btn-sm" data-toggle="modal" data-target="#modalCargarPolizas">Polizas<span class="far fa-file mx-1"></span></button>
                                <!--Invoca modal para la carga de polizas digitales-->
                            </div>
                            <div class="col-3 mt-5 mb-3">
                                <button type="button" id="btnRequisicion" name="btnAuxiliares" class="btn btn-outline-info btn-block btn-sm">Requisicion<span class="fas fa-th-list mx-1"></span></button>
                                <!--Manda el idLicitacion y muestra el formulario para las requisiciones parciales-->
                            </div>
                        </div>
                    </div><!--Terminan los renglones por registro encontrado-->
                    <!---------------------------------------------------------------------------------------------------------------->
                </div><!--Termina el card de los datos-->
            </div><!--Termina el col que contiene todo el card-->
        }

    </div><!--Termina el espacio para meter todo el container-->
    <!---------------------------------------------------------------------------------------------------------------->
    <div class="modal fade" id="modalCargarPolizas">
        <!--Inicia el modal con las polizas-->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border border-0">
                <!---------------------------------------------------------------------------------------------------------------->
                <div class="modal-header bg-dark">
                    <!--Inicia la cabecera del modal-->
                    <h4 class="modal-title text-muted">Visualizacion de polizas</h4>
                    <button type="button" class="close text-muted" data-dismiss="modal">&times;</button>
                </div>
                <!---------------------------------------------------------------------------------------------------------------->
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-10"></div>
                        <div class="col-2">
                            <h6>Accion</h6>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-10">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input custom-file-input-sm" id="PolizaAnticipo" name="PolizaAnticipo">
                                <label class="custom-file-label @(Model.NpolizaAnticipo != null ? "text-success" : "")" for="PolizaAnticipo" id="labelPA">@(Model.NpolizaAnticipo != null ? Model.NpolizaAnticipo : "PolizaAnticipo.pdf")</label>
                                <!--Tabla proyecto -> campo polizaAnticipo, extraer nombre del archivo-->
                            </div>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <div class="custom-control custom-checkbox mx-auto">
                                @Html.CheckBox("PolizaAnticipoCheck", new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="PolizaAnticipoCheck"></label>
                                <!--Si se chequea este check ejecutariamos la accion el campo polizAnticipo-->
                            </div>
                        </div>
                    </div>
                    <!---------------------------------------------------------------------------------------------------------------->
                    <div class="row mb-3">
                        <div class="col-10">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input custom-file-input-sm" id="PolizaVicios" name="PolizaVicios">
                                <label class="custom-file-label @(Model.NpolizaVicios != null ? "text-success" : "")" for="PolizaVicios" id="labelPV">@(Model.NpolizaVicios != null ? Model.NpolizaVicios : "PolizaVicios.pdf")</label>
                                <!--Tabla proyecto -> campo polizaVicios, extraer nombre del archivo-->
                            </div>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <div class="custom-control custom-checkbox mx-auto">
                                @Html.CheckBox("PolizaViciosCheck", new { @class = "custom-control-input" })
                                <label class="custom-control-label" for="PolizaViciosCheck"></label>
                                <!--Si se chequea este check cargariamos o borrariamos el campo polizaVicios-->
                            </div>
                        </div>
                    </div>
                    <!---------------------------------------------------------------------------------------------------------------->
                    <div class="row mb-3">
                        <div class="col-10">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input custom-file-input-sm" id="PolizaCumplimiento" name="PolizaCumplimiento">
                                <label class="custom-file-label @(Model.NpolizaCumplimiento != null ? "text-success" : "")" for="PolizaCumplimiento" id="labelPC">@(Model.NpolizaCumplimiento != null ? Model.NpolizaCumplimiento : "PolizaCumplimiento.pdf")</label>
                                <!--Tabla proyecto -> campo polizaCumplimiento, extraer nombre del archivo-->
                            </div>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <div class="custom-control custom-checkbox mx-auto">
                                @Html.CheckBox("PolizaCumplimientoCheck", new { @class = "custom-control-input" })

                                <label class="custom-control-label" for="PolizaCumplimientoCheck"></label>
                                <!--Si se chequea este check cargariamos o borrariamos el campo polizaCumplimiento-->
                            </div>
                        </div>
                    </div>
                    <!---------------------------------------------------------------------------------------------------------------->
                </div>
                <!---------------------------------------------------------------------------------------------------------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary w-100 btn-sm" data-dismiss="modal">Cargar</button>
                    <!--Boton que carga los archivos al servidor de archivos y guarda la direccion en la base de datos-->
                    <button type="button" class="btn btn-outline-danger w-100 btn-sm" id="BorrarDocs">Borrar</button>
                    <!--Boton que elimina los archivos del servidor de archivos y borra la direccion en la base de datos-->
                </div>
                <!---------------------------------------------------------------------------------------------------------------->
            </div>
        </div>
    </div><!--Termina el modal con los campos para la visualizacion de polizas-->
</form>
<div id="formsAux">

</div>
<!---------------------------------------------------------------------------------------------------------------->
@section scripts
    {
    <script>
        if ("@ViewBag.message" != null) {
            if ("@ViewBag.status" == "Error!") {

                Swal.fire({
                    icon: 'error',
                    text: "@ViewBag.message"
                })

            }
            else if("@ViewBag.status" == "Exito!"){

                Swal.fire({
                    icon: 'success',
                    text: "@ViewBag.message"
                })

            }
            else if("@ViewBag.status" == "Info!"){

                Swal.fire({
                    icon: 'info',
                    text: "@ViewBag.message"
                })

            }
        }
    </script>
}


